.containerMain {
    background-color: rgb(140, 194, 255);
    width: 480px;
    height: 620px;
    /* padding: 16px; */
    margin: 16px auto;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: rgb(140, 194, 255);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: black;
}